<launch>

  <!-- The namespace -->
  <arg name="name" default=""/>
  <!-- How much to look ahead of the current pose -->
  <arg name="horizon" default="0.1"/>
  <!-- The relaxation time to converge/track to the path -->
  <arg name="tau" default="0.5"/>
  <!-- In which frame to perform the control. 
  Should be connected to the frame of the path to follow. Include the tf prefix! -->
  <arg name="frame_id" default="odom"/>
  <!-- Whether to use a multi-threaded executor -->
  <arg name="multithreaded" default="false"/>
  <!-- Whether to use a pose as state source -->
  <arg name="use_pose" default="true"/>
  <arg name="pose_topic" default="gt"/>


  <push-ros-namespace namespace="$(var name)"/>

  <node name="follow_path_server" pkg="navigation_utils" exec="follow_path_server" output="screen">
    <param name="horizon" value="$(var horizon)"/>
    <param name="tau" value="$(var tau)"/>
    <param name="frame_id" value="$(var frame_id)"/>
    <param name="multithreaded" value="$(var multithreaded)"/>
    <param name="use_pose" value="$(var use_pose)"/>
    <remap from="pose" value="$(var pose_topic)"/>
  </node>

</launch>
